
{% extends "layout.html" %}

{% block body %}

<h1>Todo List</h1>
 <ul>
    {% for todo in todos%}
        {% if todo.complete == false %}
            <li>
                <h3>{{todo['title']}}</h3>
                <div>
                    <a href="/complete{{ todo.id }}">Complete task</a>
                    <a href="/delete{{ todo.id }}">Delete task</a>
            
            </div>
            </li>
        {% endif %}
    {% endfor %}
 </ul>

 <a href="/addTask"> Add new Todo</a>
 <a href="/completed"> Completed Todos</a>
{% endblock %}



